body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #040308;
    margin: 0;
}

.calculator {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.display {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.btn {
    padding: 20px;
    font-size: 1.2rem;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    background-color: #ddd;
}

.equals {
    grid-column: span 4;
    background-color: #333;
    color: #fff;
}
